body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fbe9fc;
}

.root {
    font-size: large;
    color: #fcfcfc;
    background-color: #925555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 2% 5%;
    text-align: center;
    border-radius: 5px;
}

.title {
    border-bottom: 2px dashed #f0eaea;
}

input {
    font-size: medium;
    padding: 8px;
    outline: none;
    border: 1px solid #da8282;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

.foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.foot>button {
    flex: 1;
    padding: 10px;
    background-color: #cebccc;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: medium;
    cursor: pointer;
    margin-right: 10px;
}
